.ham{
  display: none;
}
@media screen and (max-width:768px){
  .ham{
    font-size: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .ham::before{
    content:"" ;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
  }
  .ham:hover::before{
    transform: translateY(9px) rotate(45deg);
  }
  .ham span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
  }
  .ham:hover span{
    transform: scaleX(0);
  }
  .ham::after{
    content:"" ;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s;
  }   
  .ham:hover::after{
    transform: translateY(-9px) rotate(-45deg);
  }
}