/* mobile버전 768이하 */
@media screen and (max-width:768px){
  header .wrap nav{
    padding: 0 15px;
  }
  header .gnb{
    display: none;
  }
  header .etc{
    display: none;
  }
  .wraptitle{
    padding: 0 15px;
  }
/*  타이틀 영역  */
  #title{
  height: calc(100% - 100px);
  background-image: url(../img/section1_bg_01.png);
  }
  #title .wrap{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    gap: 20px;
  }
  #title nav {
    grid-column: 1;
    grid-row: 3;
    width: 98%;
    text-align: center;
  }
  #title h2.h1{
    text-align: center;
  }
  #title h2.h1 span{
    display: block;
  }
  #title nav ul{
    display: flex;
    justify-content: space-around;
  }
  #title nav ul li {
    width: fit-content;
    height: auto;
    border: none;
  }
  #title nav ul li a::before{ 
  width: 30px;
  height: 30px;
  }
  #title video{
    display: none;
  }
/*  파트너영역  */
  #partner{
  padding-top: 70px;
  align-items: baseline;
  box-sizing: border-box;
  }
  #partner .wrap{
    
  gap: 35px;
  }
/*  news영역  */
  #news{
  height: 100%;
  padding: 20px 0 20px 0;
  }
  #news .wrap{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6,auto);
  box-sizing: border-box;
  width: calc(100% - 100px);
  gap: 10px;
  }
  #news .h2{
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  #news .p{
    
  grid-column: 1 / span 2;
  grid-row: 2;
  }
  #news article{
  }
  #news article:nth-of-type(1){
    
  grid-column: 1 / span 2;
  grid-row: 3;
  height: auto;
  }
  #news article:nth-of-type(2){
    
  grid-column: 1;
  grid-row: 4;
  height: 100%;
  }
  #news article:nth-of-type(3){
    
  grid-column: 2;
  grid-row: 4;
  height: 100%;
  }
  #news article:nth-of-type(4){
    
  grid-column: 1;
  grid-row: 5;
  height: 100%;
  }
  #news article:nth-of-type(5){
    
  grid-column: 2;
  grid-row: 5;
  height: 100%;
  }
  #news article a{
    
  padding: 20px;
  }
  #news div.sns{
    
  grid-column: 1 / span 2;
  grid-row: 6;
  background-color: #f6f6f6;
  padding: 20px 10px;
  }
  #news div.sns h3{
    
  }
  #news div.sns ul{
    
  justify-content: space-between;
  }
  #news div.sns ul li{
    
  }
/* 푸터 */
  footer{
  }
  footer .wrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  }
  footer .familysite{
  height: 65px;
  align-items: center;
  grid-column: 1;
  background-color: #333333;
  grid-row: 1;
  }
  footer .familysite h2{
    
  height: 100%;
  width: 100%;
  flex-direction: inherit;
  padding-left: 20px;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 700;
  border: 0px;
  }
  footer .familysite h2::before{
    
  width: 40px;
  margin-right: 15px;
  }
  footer .familysite::after{
    content:"";
    background-image: url(../img/svg/chevron-up-solid.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }
  footer .familysite ul{
    
  display: none;
  }
  footer address.xs{
  grid-column: 1;
  grid-row: 3;
  margin-top: 20px;
  color: #aaa;
  }
  footer .xs{
  text-align: center;
  line-height: 1.6;
  }
  footer .xs a{
  color: #aaa;
  }
  footer .xs span{
    display: block;
  }
  footer>p.xs{
  padding-bottom: 20px;
  }
  footer .enb.sm{
    
  grid-column: 1;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #e6e6e6;
  }
  footer .enb.sm li{
    
  display: flex;
  }
  footer .enb.sm li:nth-child(n+1):nth-child(-n+3)::after{
    content:"│";
    margin-left:2px;
    color: #e6e6e6;
  }
  footer .enb.sm li a{
  color: #6a6a6a;
  }
  footer .enb.sm li:nth-child(1) a{
  color: #282828;
  }
  
  
/*  end  */
}