/* 구글폰트 */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* 레이아웃 스타일링  */
.wrap{
  width: 1170px;
  margin: 0 auto;
}
.flex-column-ceter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  height: 100%;
}

/* 텍스트 스타일링 */
.h1{
  font-size:80px;
  font-weight:900;
}
.h2{
  font-size:52px;
}
.h3{
  font-size:35px;
}
.h4{
  font-size:25px;
}
.h5{
  font-size:20px;
}
.h6{
  font-size:18px;
}
.p{
  font-size:18px;
}
.m{
  font-size:16px;
}
.sm{
  font-size:14px;
}
.xs{
  font-size:12px;
}
.white{
  color:white;
}
.gray{
  color:#7b7b7b;
}
.black{
  color:black;
}
/* 버튼 */

.btn16{
  font-size: 16px;
}
.more{
  border: 2px solid #fff;
  line-height: 1;
  padding: 13px 22px;
  color: white;
}
.more::after{
  content: "+";
  margin-left: 10px;
  position: relative;
  left: 0px;
}
.more:hover::after{
  left: 10px;
}
.more:hover{
  background-color: white;
  color: #404040;
  transition: 0.3s;
}
.hide{
  display: none !important;
}